:root {
  --primaryColor: #3d52ad;
  --secondaryColor: #7091e6;
  --tertiaryColor: #8697c4;
  --quarternaryColor: #adbbda;
  --quinaryColor: #ede8f5;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    black 0%,
    var(--primaryColor) 49%,
    var(--tertiaryColor) 100%
  );
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  margin: 1rem;
  min-width: 6rem;
}

h1 {
  color: var(--quinaryColor);
  font-size: 3rem;
  margin: 0;
}

h3 {
  margin: 0.5rem;

  color: black;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: var(--quinaryColor);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

li a:hover {
  color: var(--primaryColor);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--secondaryColor);
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

#hero {
  display: flex;
}

#hero img {
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#errorDisplay {
  display: none;
  color: red;
}

.active {
  background-color: var(--secondaryColor);
  border-radius: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.feature-size {
  height: 400px;
  width: 300px;
}

.testimonial-size {
  height: 300px;
  width: 300px;
}

.card img {
  width: 100%;
  height: 50%;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.magnify {
  transition: transform 0.3s ease-in-out;
}

.magnify:hover {
  transform: scale(1.1);
}

.form-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.form-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.textArea p {
  padding: 0 1rem 1rem;
  text-align: center;
  height: 3rem;
}
